<!-- <div class="container">
	<div class="row">
		<div class="col-xs-2 col-xs-offset-5 logo">
			<img class="img-responsive" src="img/logo@2.png" srcset="img/logo@2.png 2x" alt="Shrugster Logo">
		</div>
	</div>
	<div class"col-xs-12">
		<h1 style="text-align: center;">shrugster</h1>
		<h3>Emojis, but cooler.</h3>
	</div>
</div> -->

<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<div class="">
			<img class="inline logo-img" src="img/small-logo.png" srcset="img/small-logo@2x.png 2x" alt="Shrugster Logo">
			<span class="h3 inline">shrugster</span>
		</div>
		<div class="hidden-xs phone">
			<img src="img/screenshot.png" srcset="img/screenshot@2x.png 2x" alt="Shrugster Logo">
		</div>
		<h1>Emojis, but cooler.</h1>
		<div class="line hidden-xs"></div>
	</div>
</div>