<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Muli:300,400' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
	<title>shrugster</title>
</head>
<body>
	<div class="fluid-container">
		<div class="container">
			<div class="header">
				<a href="/" class="logo">
					<img class="logo-img" src="img/small-logo.png" srcset="img/small-logo@2x.png 2x" alt="Shrugster Logo">
					<span class="h3 inline">shrugster</span>
				</a>		
				<span class="h5">A free iOS keyboard for shruggies</span>
			</div>
		</div>
		<%= yield %>
		<footer>
			<ul class="footer">
				<li><a href="/signup">Signup</a></li>
				<!-- <li><a href="/get">Get the app</a></li> -->
				<li><a href="/privacy">Privacy</a></li>
				<li><a href="http://www.twitter.com/teossaurus">@teossaurus</a></li>
				<li><a href="http://www.twitter.com/lgroetzi">@lgroetzi</a></li>
			</ul>
		</footer>
	</div>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>