<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<h1>Your shrugs are private. We promise.</h1>
		<h4>We don't track or store any personally identifiable information. We may use Google Analytics (like everyone else) to know how many times keys get clicked, but we don't know who is clicking what. Seriously. We have no idea who you are.</h4> 
		<h4>But if you want to change that, you can say <a href="hi@shrugsterapp.com">hi</a>. </h4>
	</div>
</div>