<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<a href="/">
			<div class="logo" href="/">
				<img class="inline logo-img" src="img/small-logo.png" srcset="img/small-logo@2x.png 2x" alt="Shrugster Logo">
				<span class="h3 inline">shrugster</span>
			</div>
			<span class="h5">A free iOS keyboard for shruggies</span>
		</a>
		<h1>Your shrugs are private. We promise.</h1>
		<h4>We don't track or store any personally identifiable information. We may use Google Analytics (like everyone else) to know how many times keys get clicked, but we don't know who is clicking what. Seriously. We have no idea who you are.</h4> 
		<h4>But if you want to change that, you can say <a href="hi@shrugsterapp.com">hi</a>. </h4>
	</div>
</div>