* {
	color: #fff;
}

body {
	background-color: #424345;
}

.container {
	margin-top: 70px;
	position: relative;
}

body {
	font-family: 'Muli', sans-serif;
}

h1, .h1 {
	font-size: 32px;
	color: #fff;
	margin-top: 236px;
	margin-bottom: 22px;
}

h3, .h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	color: #979797;
	margin-top: 265px;
}

.logo-img {
	margin-top: -4px;
  	margin-right: 8px;
}

.line {
  height: 2px;
  background-color: #3A3A3A;
  width: 680px;
  z-index: 1;
  border-radius: 22px;;
}

.logo {
  	background-color: #3A3A3A;
  	width: 142px;
  	padding: 8px 15px;
  	border-radius: 24px;
}

.phone {
	z-index: 1000;
	position: absolute;
  	right: 0;
  	top: 0;
}